<!-- Layout using Flexbox -->
<div class="d-flex flex-column vh-100">
  <!-- Top Header -->
  <header class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm flex-shrink-0">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="/">
        <span class="me-2">🚀</span>$fn.get('GUI_APP_TITLE', 'Angular by Telosys')
      </a>
    </div>
  </header>

  <!-- Main Content Area -->
  <div class="d-flex flex-grow-1 overflow-hidden">
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="bg-light d-none d-md-flex flex-column flex-shrink-0 border-end">
      <div class="p-3 flex-grow-1 overflow-auto">        
        <!-- Navigation -->
        <ul class="nav nav-pills flex-column mb-auto">
          @for(item of menu; track item.label) {
            <li class="nav-item mb-1">
              <a class="nav-link link-dark"
                 [routerLink]="item.link">
                <span class="me-2">{{item.icon}}</span> {{item.label}}
              </a>
            </li>
          }
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main class="flex-grow-1 d-flex flex-column overflow-hidden">

      <!-- Page content -->
      <div class="flex-grow-1 overflow-auto px-4 mt-4">
        <router-outlet></router-outlet>
      </div>

      <!-- Footer -->
      <footer class="bg-light text-center border-top mt-auto py-3 flex-shrink-0">
        <div class="text-muted">
          © $now.format('yyyy') Built with ❤️ using Angular and Bootstrap (Generated by Telosys)
        </div>
      </footer>
    </main>
  </div>
</div>