#---------------------------------------------------------
# Specific templates configuration file
# . value 1 : description
# . value 2 : file to be generated ( variables can be used [*] )
# . value 3 : directory where to generate ( variables can be used [*] )
# . value 4 : template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
# ( [*] usable variables : ENT, ENT_UC, ENT_LC,  MOD, MOD_UC, MOD_LC,  BUN, BUN_UC, BUN_LC )
#---------------------------------------------------------

# Copy static files from "resources"
; ; ; ; R

; README.md  ; ; README.md.vm  ; 1

; index.html  ; src ; src/index.html.vm   ; 1
; main.ts     ; src ; src/main.ts.vm      ; 1
; styles.scss ; src ; src/styles.scss.vm  ; 1

; app.config.ts         ; src/app              ; src/app/app.config.ts.vm                      ; 1
; app.routes.ts         ; src/app              ; src/app/app.routes.ts.vm                      ; 1
; app.ts                ; src/app              ; src/app/app.ts.vm                             ; 1
; layout.component.html ; src/app/core/layout  ; src/app/core/layout/layout.component.html.vm  ; 1
; layout.component.ts   ; src/app/core/layout  ; src/app/core/layout/layout.component.ts.vm    ; 1

; ${ENT_LC}.ts          ; src/app/features/${ENT_LC} ; src/app/features/xxx/xxx.ts.vm          ; *
; ${ENT_LC}.route.ts    ; src/app/features/${ENT_LC} ; src/app/features/xxx/xxx.route.ts.vm    ; *
; ${ENT_LC}.service.ts  ; src/app/features/${ENT_LC} ; src/app/features/xxx/xxx.service.ts.vm  ; *

; ${ENT_LC}-list.html   ; src/app/features/${ENT_LC}/list ; src/app/features/xxx/list/xxx-list.html.vm ; *
; ${ENT_LC}-list.ts     ; src/app/features/${ENT_LC}/list ; src/app/features/xxx/list/xxx-list.ts.vm   ; *

; ${ENT_LC}-form.html   ; src/app/features/${ENT_LC}/form ; src/app/features/xxx/form/xxx-form.html.vm ; *
; ${ENT_LC}-form.ts     ; src/app/features/${ENT_LC}/form ; src/app/features/xxx/form/xxx-form.ts.vm   ; *
