#parse("_include/standard-variables.vm")
<div class="container-fluid p-4">
  <h2 class="mb-4">{{ ${entlc} ? 'Edit ${entity.name}' : 'Create New ${entity.name}' }}</h2>

  <!-- ${entity.name} Form -->
  <form [formGroup]="${entForm}" (ngSubmit)="onSubmit()" novalidate>
#foreach($attribute in $entity.attributes)
## --- Field label (default or specific from model)
$__#set( $label = $fn.capitalize($attribute.name) )
$__#if( $attribute.hasLabel() ) #set( $label = $attribute.label ) #end
## --- Field required or not => TODO
$__#set( $required = '' )
$__#if( $attribute.isNotNull() || $attribute.isNotEmpty() ) #set( $required = '*') #end
## --- Type description 
$__#set( $typeDesc = '' )
$__#if ( $attribute.isNumberType() )
$____#if ( $attribute.isByteType() || $attribute.isShortType() || $attribute.isIntegerType() || $attribute.isLongType() ) 
$______#set( $typeDesc = '(integer' )
$____#end
$____#if ( $attribute.isFloatType() || $attribute.isDoubleType() || $attribute.isDecimalType() ) 
$______#set( $typeDesc = '(number' )
$____#end
$____#if ( $attribute.minValue != '' ) #set($typeDesc = ${typeDesc}+' min:'+ $attribute.minValue ) #end
$____#if ( $attribute.maxValue != '' ) #set($typeDesc = ${typeDesc}+' max:'+ $attribute.maxValue ) #end
$____#set( $typeDesc = ${typeDesc}+')' )
$__#end
$__#if ( $attribute.isStringType() )
$____#if ( $attribute.minLength != '' && $attribute.maxLength != '') #set( $typeDesc = '(' + $attribute.minLength + ' to ' + $attribute.maxLength + ' char)') #end
$____#if ( $attribute.minLength != '' && $attribute.maxLength == '') #set( $typeDesc = '(at least ' + $attribute.minLength + ' char)') #end
$____#if ( $attribute.minLength == '' && $attribute.maxLength != '') #set( $typeDesc = '(up to '    + $attribute.maxLength + ' char)') #end
$__#end
    <div class="row">
      <!-- $entity.name $attribute.name ($attribute.neutralType) -->
      <div class="col-md-6 mb-3">
#if ( $attribute.isBooleanType() )
## Checkbox : Bootstrap explicitly states that checkboxes 
##            use "form-check" + "form-check-input" + "form-check-label" classes
        <div class="form-check"> 
          <input
            type="checkbox"
            id="${attribute.name}"
            class="form-check-input"
            formControlName="${attribute.name}" >
          <label for="${attribute.name}" class="form-check-label">${label}</label>
        </div>
#else
## Not a check box => other input types 
        <label for="${attribute.name}" class="form-label">
          ${label}#if(${required} != '') <span class="text-danger">${required}</span>#end</label>
        <input
          ${html.type($attribute)}
          id="${attribute.name}"
          class="form-control"
          formControlName="${attribute.name}"
$__#if ( $attribute.minLength != '' )
          minlength="${attribute.minLength}"
$__#end
$__#if ( $attribute.maxLength != '' )
          maxlength="${attribute.maxLength}"
$__#end
          placeholder="Enter ${entlc} ${attribute.name} ${typeDesc}">
#end
      </div>
    </div>
#end

    <!-- Form Actions -->
    <div class="d-flex justify-content-between mt-4">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onCancel()"
        [disabled]="isSubmitting()">
        Cancel
      </button>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="${entForm}.invalid || isSubmitting()">
        @if(isSubmitting()) {
          <span class="spinner-border spinner-border-sm me-2" role="status"></span>
        }
        {{ isSubmitting() ? (${entlc} ? 'Updating...' : 'Creating...') : (${entlc} ? 'Update ${entity.name}' : 'Create ${entity.name}') }}
      </button>
    </div>
  </form>
</div>